name: Scan Existing JAR

on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4 
        
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven
          
      - name: Build with Maven
        run: mvn clean package -DskipTests
        
      - name: Install JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4

      - name: Configure JFrog CLI
        run: |
          jf config add myserver \
            --url="https://testakanksha.jfrog.io" \
            --user=${{ secrets.JF_USERNAME }} \
            --password=${{ secrets.JF_PASSWORD }} \
            --interactive=false
            
      - name: Upload JAR to Artifactory for scanning
        run: |
          jf rt upload "target/*.jar" \
            "new-libs-snapshot-local/org/springframework/samples/spring-petclinic/4.0.0-SNAPSHOT/" \
            --flat=true \
            --build-name=petclinic-build \
            --build-number=${{ github.run_number }}

      - name: Add Build Info
        run: |
          jf rt build-collect-env petclinic-build ${{ github.run_number }}

      - name: Publish Build Info
        run: jf rt build-publish petclinic-build ${{ github.run_number }}

      - name: Xray Security Scan
        run: |
          jf rt build-scan petclinic-build ${{ github.run_number }}
